<!-- Footer -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <section class="3u 6u(narrower) 12u$(mobilep)">
          <h3>Find out More</h3>
          <ul class="links">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Why Us?</a></li>
          </ul>
        </section>
        <section class="3u 6u$(narrower) 12u$(mobilep)">
          <br /><br />
          <ul class="links">
            <li><a href="#">Meet the Team</a></li>
            <li><a href="#">Certificates</a></li>
            <li><a href="#">Waste Disposal</a></li>
          </ul>
        </section>
        <section class="6u 12u(narrower)">
          <h3>Get In Touch</h3>
          <form>
            <div class="row 50%">
              <div class="6u 12u(mobilep)">
                <input type="text" name="name" id="name" placeholder="Name" />
              </div>
              <div class="6u 12u(mobilep)">
                <input type="email" name="email" id="email" placeholder="Email" />
              </div>
            </div>
            <div class="row 50%">
              <div class="12u">
                <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
              </div>
            </div>
            <div class="row 50%">
              <div class="12u">
                <ul class="actions">
                  <li><input type="submit" class="button alt" value="Send Message" /></li>
                </ul>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>

    <!-- Copyright -->
      <div class="copyright">
        <ul class="menu">
          <li>&copy; Hep Oils. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>

  </div>

  <script src="{{ "js/jquery.dropotron.min.js" | relative_url }}"></script>
  <script src="{{ "/js/skel.min.js" | relative_url }}"></script>
  <script src="{{ "/js/util.js" | relative_url }}"></script>
  <script src="{{ "/js/jquery.scrolly.min.js" | relative_url }}"></script>
  <script src="{{ "/js/main.js" | relative_url }}"></script>
