<!-- Footer -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <section class="3u 6u(narrower) 12u$(mobilep)">
          <h3>Find out More</h3>
          <ul class="links">
            <li><a href="{{ "/quote" | relative_url }}">Contact Us</a></li>
            <li><a href="{{ "/faqs" | relative_url }}">FAQ's</a></li>
            <li><a href="{{ "/about" | relative_url }}">Why Us?</a></li>
          </ul>
        </section>
        <section class="3u 6u$(narrower) 12u$(mobilep)">
          <br /><br />
          <ul class="links">
            <li><a href="{{ "/about#awards" | relative_url }}">Certificates</a></li>
            <li><a href="{{ "/recycling" | relative_url }}">Waste Disposal</a></li>
          </ul>
        </section>
        <section class="6u 12u$(narrower)">
          <p class="copyright">
            Hep Oils takes care of all your requirements with regard to supply & collection of cooking oils.
            We will ensure all waste is recycled, allowing you to continue your daily business safe in the knowledge
            that you are not only compliant but able to show due consideration to the constant need to recycle, renew & replenish.
          </p>
        </section>
      </div>
      <div class="row">
        <section class="12u">
          <div class="copyright">
            <p>
              Hep Oils is registered in England & Wales. Number: 05878742.<br />Registered Address: Battlefield Road, Shrewsbury, Shropshire, SY1 4AH
            </p>
          </div>
        </section>
      </div>
    </div>

    <!-- Copyright -->
      <div class="copyright">
        <ul class="menu">
          <li>&copy; Hep Oils. All rights reserved</li><li>Website by <a href="https://welwyn.digital">Welwyn Digital</a></li>
        </ul>
      </div>

  </div>
  <script src="{{ "/js/jquery.min.js" | relative_url }}"></script>
  <script async defer src="{{ "js/assets.js" | relative_url }}"></script>
  <script async defer src="{{ "js/util2.js" | relative_url }}"></script>

  <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112007092-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-112007092-1");
  </script>
