<head lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112007092-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-112007092-1");
  </script>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}
  <meta charset="utf-8" />
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ " /images/hepoil-logo.png " | prepend: site.baseurl }}"/>
  <link rel="manifest" href="manifest.json">

  <!-- Scripts -->
  <!--SEO-->
  {% seo % title=false}
  <!--SEO ENDS-->
  {% include cookie.html %}
</head>
