<!-- Header -->
  <div id="header">

    <!-- Logo -->
      <header class="special container">
          <img class="logo" alt="Hep Oils" src="{{ "/images/hepoil-logo.png" | relative_url }}"/>
      </header>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li {% if page.permalink == "/" %}class="current"{% endif %}><a href="{{ "/" | relative_url }}">Home</a></li>
          <li {% if page.permalink == "/quote/" %}class="current"{% endif %}><a href="{{ "/quote" | relative_url }}">Get A Quote</a></li>
          <li {% if page.permalink == "/supply/" %}class="current"{% endif %}><a href="{{ "/supply" | relative_url }}">Supply</a></li>
          <li {% if page.permalink contains "collection" %}class="current"{% endif %}>
            <a href="{{ "/collection" | relative_url }}">Collection</a>
            <ul>
              <li><a href="{{ "/waste-food-collection" | relative_url }}">Waste Food Collection</a></li>
              <li><a href="{{ "/waste-oil-collection" | relative_url }}">Waste Oil Collection</a></li>
            </ul>
          </li>
          <li {% if page.permalink == "/recycling/" %}class="current"{% endif %}><a href="{{ "/recycling" | relative_url }}">Recycling</a></li>
          <li {% if page.permalink == "/faqs/" %}class="current"{% endif %}><a href="{{ "/faqs" | relative_url }}">FAQ's</a></li>
          <li {% if page.permalink == "/about/" %}class="current"{% endif %}><a href="{{ "/about" | relative_url }}">About Us</a></li>
        </ul>
      </nav>

  </div>
