<!-- Header -->
  <div id="header">

    <!-- Logo -->
      <header class="special container">
          <img class="logo" alt="Hep Oils" src="images/hepoil-logo.png"/>
      </header>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="">Get A Quote</a></li>
          <li><a href="">Supply</a></li>
          <li>
            <a href="#">Collection</a>
            <ul>
              <li><a href="#">Waste Food Collection</a></li>
              <li><a href="#">Waste Oil Collection</a></li>
              <li><a href="#">Generl Waste / Recycling Collection</a></li>
            </ul>
          </li>
          <li><a href="">Recycling</a></li>
          <li><a href="">FAQ's</a></li>
          <li><a href="">About Us</a></li>
        </ul>
      </nav>

  </div>
