<form {% if include.useShadow %}class="shadow-box"{% endif %}>
  <div class="row 100%">
    <div class="12u 12u(mobilep)">
      <input type="text" name="name" id="name" placeholder="Name" />
    </div>
  </div>
  <div class="row 100%">
    <div class="12u 12u(mobilep)">
      <input type="email" name="email" id="email" placeholder="Email" />
    </div>
  </div>
  <div class="row 100%">
    <div class="12u 12u(mobilep)">
      <input type="text" name="number" id="number" placeholder="Contact Number" />
    </div>
  </div>
  <div class="row 50%">
    <div class="12u">
      <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
    </div>
  </div>
  <div class="row 50%">
    <div class="12u">
  <fieldset>
    <legend>I'm interested in....</legend>
    <div>
      <label for="supply">Cooking Oil Supply
        <input type="checkbox" id="supply" name="interest" value="supply">
    </label>
    </div>
    <div>
      <label for="oil-col">Waste Oil Collection
        <input type="checkbox" id="oil-col" name="interest" value="oil-col">
      </label>
    </div>
    <div>
      <label for="food-col">Waste Food Collection
        <input type="checkbox" id="oil-col" name="interest" value="oil-col">
      </label>
    </div>
  </fieldset>
</div>
</div>
  <div class="row 50%">
    <div class="12u">
      <ul class="actions">
        <li><input type="submit" class="button alt" value="Send Message" /></li>
      </ul>
    </div>
  </div>
</form>
