@media screen and (min-width: $narrow) {
  #page-wrapper,
  .H100,
  .container,
  .row,
  .wrapper {
    height: 100%;
  }

  #sidebar {
    border-left: 1px solid #36bef8;
    height: 100%;
    padding: 10px;
  }
}
