---
description: > # Hep Oils take care of all your requirements with regard to supply & collection
  of cooking oils. We will ensure all waste is recycled, allowing you to continue your daily business
  safe in the knowledge that you are not only compliant but able to show due consideration to the constant
  need to recycle, renew & replenish.
---
<!DOCTYPE HTML>
<html lang="en">

{% include head.html %}

<body class="index">
  <div id="page-wrapper">
    {% include page-header.html %} {{ content }} {% include footer.html %}
  </div>
</body>

</html>
